electron_mirror=https://github.com/electron/electron/releases/download/
electron_builder_binaries_mirror=https://cdn.npmmirror.com/binaries/electron-builder-binaries/
registry=https://registry.npmjs.org/
ignore-scripts=false
